.main{
    
    .total-purchase {
      display: flex;
      justify-content: flex-end;
      
      .shopping-basket {
        padding: 15px 10px 10px 40px;
        font-weight: 600;
        color: white;
        background: black;
        background-image: url('https://cdn0.iconfinder.com/data/icons/40-shopping-cart-icons/24/-shopping-basket-ShapesFREE.png');
        background-repeat: no-repeat;
        background-position: 10% 50%;
      }      
    }
  .main-content {
    display: flex;
    flex-wrap: wrap;
  }
}