.shop-list {
    
    .shop-list-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        table {
            border-collapse: collapse;
            width: 80%;

            tr {
                height: 50px;
            }
            
            th {
                border: 1px solid #dddddd;                
            }
            
            td, th {
                text-align: center;
                padding: 8px;
                width: 33%;
            }

            td:not(.delete) {
                border-bottom: 1px solid #dddddd;    
            }

            .delete {
                cursor: pointer;
                font-weight: 600;
                color: rgb(134, 134, 134);
                padding-left: 15px;
                transition: all 0.2s ease;
            }

            .delete:hover {
                color: red;
            }
        }
    }
}