.shop-list {
    display: flex;
    flex-direction: column;
    .shop-list-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        table {
            border-collapse: collapse;
            border: 1px solid #dddddd;
            
            td, th {
                text-align: center;
                padding: 8px;
            }
            
            tr:nth-child(even) {
                background-color: #dddddd;
            }
            
            img {
                width: 50%;
            }
        }
    }
}