.shop-list {
    display: flex;
    flex-direction: column;
    .shop-list-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        table {
            border-collapse: collapse;

            th {
                border: 1px solid #dddddd;                
            }
            
            td, th {
                text-align: center;
                padding: 8px;
            }
            
            tr:nth-child(even) {
                background-color: #dddddd;
            }
            
            tr {
                td:last-of-type {
                    background: rgb(240, 240, 240);
                }
            }

            img {
                width: 50%;
            }

            .delete-btn{
                background: black;
                width: 100%;
                height: 100%;
            }
        }
    }
}